<script type="text/javascript">
  function displayRow(){
    var row = document.getElementById("captionRow");
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>
<h4><%= t('available_accessories') %></h4>
<table class="index">
	<thead>
		<tr>
                        <th><%= t("sku") %></th>
			<th><%= t("name") %></th>
			<th><%= t("action") %></th>
		</tr>
	</thead>
	<tbody>
    <% @available_accessories.each do |accessory| %>
      <tr id="<%= dom_id(accessory) %>">
        <td valign="top"><%= accessory.variant.sku if accessory.is_a? Product  %></td>
        <td valign="top">
          <%= accessory.is_a?(Product) ? accessory.name : "#{accessory.ancestors.reverse.collect{ |ancestor| ancestor.name }.join( " >> ")} #{accessory.name}" %>
        </td>
		    <td valign="top">a
		      <%= link_to_remote t('select'), 
		                         :url => select_admin_product_accessories_path(@product),
		                         :loading => "Element.show(#{dom_id(accessory, :spinner)})",
		                         :update => 'selected-accessories',
		                         :complete => "$('#{dom_id(accessory)}').remove(); Element.hide(#{dom_id(accessory, :spinner)});",
                                         :with => accessory.is_a?(Product) ? "'accessory_id=#{accessory.id}'" : "'taxon_id=#{accessory.id}'"  %>
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(accessory, :spinner)}" %>		    
		    </td>        
      </tr>
    <% end %>
    <% if @available_accessories.empty? %>
     <tr><td colspan="3"><%= t('no_match_found') %>.</td></tr>
    <% end %>
  </tbody>
</table>
