<% if @product.paint_colors.size>0 %>
  <p>Cette maquette est vendu sans peinture, les peintures nécessaires à cette maquette sont listés ci dessous : <br/>
  <ul>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <li><a href="#" onclick="javascript:spree.general.add_to_cart(<%= "'/orders\','#{escape_javascript(@product.name)} et ses #{type.description}','#{@product.variant.id},#{products.map(&:variant).map(&:id).join(",")}'" %>);return false;" >
          Acheter la maquette et ses peintures <%= type.title %></a></li>
    <% end %>
  <% end %>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <li><a href="#" onclick="javascript:spree.general.add_to_cart(<%= "'/orders\','#{type.description} de la maquette #{escape_javascript(@product.name)}','#{products.map(&:variant).map(&:id).join(",")}'" %>);return false;" >
          Acheter seulement les peintures <%= type.title %> pour cette maquette</a></li>
    <% end %>
  <% end %>
  </ul>
  </p>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <div class="taxon">
        <%= product_h2_title(type.description) %>
        <%= render(:partial => "/shared/products.html.erb", :locals => {:products => products.flatten.uniq.sort_by{|i| i.name},:taxon=>nil}) %>
        <div class="fx-clear"></div>
      </div>
    <% end %>
  <% end %>
<% end %>