<% if spare_collection.size >0 %>
  <table class="index">
    <thead><tr><th><%= t("type") %></th><th><%= t("name") %></th><th><%= t("action") %></th></tr></thead>
    <tbody>
      <% spare_collection.each do |spare_parts| %>
        <tr id="<%= dom_id(spare_parts, :sel)%>">
          <td valign="top"><%= spare_parts.class.to_s %></td>
          <td valign="top">
            <%= spare_parts.is_a?(Product) ? spare_parts.name : "#{spare_parts.ancestors.reverse.collect{ |ancestor| ancestor.name }.join( " >> ")} #{spare_parts.name}" %>
          </td>
          <td valign="top">
          <%= link_to_remote t('remove'),
                             :url => url_spare_update,
                             :loading => "Element.show(#{dom_id(spare_parts, :rem_spinner)})",
                             :update => 'selected-accessories',
                             :complete => "$('#{dom_id(spare_parts, :sel)}').remove(); Element.hide(#{dom_id(spare_parts, :rem_spinner)});",
                             :with => spare_parts.is_a?(Product) ? "'accessory_id=#{spare_parts.id}'" : "'taxon_id=#{spare_parts.id}'" %>
          <%= image_tag "spinner.gif", :style => "display:none", :id => "#{dom_id(spare_parts, :rem_spinner)}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t('none') %>
<% end %>